@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black-0: #000000;
	--white-f: #ffffff;
	--gray-1: #f8f8f8;
	--gray-2: #dbd6d1;
	--gray-3: #bab6b2;
	--gray-4: #8b8986;
	--gray-5: #413f3e;

	--blue-1: #d7eeee;
	--blue-2: #9ad0d0;
	--blue-3: #67bebe;
	--blue-4: #388e8e;
	--blue-5: #1a5b5b;

	--red-2: #f8c4c7;
	--red-3: #f09ea3;
	--red-4: #ce575e;

	--gold-1: #f2d791;
	--gold-2: #e7b22c;

	--radial-1: radial-gradient(50% 50% at 50% 50%, #388e8e 0%, #236a6a 99.99%, #1a5b5b 100%);

	--linear-1: linear-gradient(225deg, var(--blue-4) 0%, var(--blue-5) 100%);
	--linear-2: linear-gradient(142deg, var(--blue-2) 9.39%, var(--blue-3) 57.6%);
	--linear-gold: linear-gradient(205.68deg, var(--gold-1) 2.38%, var(--gold-2) 95.92%);
	/* I need a code for this linear gradient */
	--linear-x21: linear-gradient(180deg, var(--blue-4) 5.39%, var(--blue-5) 73.52%);

	--white-75p: #ffffffbf;
	--white-50p: #ffffff80;
	--white-25p: #ffffff40;
}

* {
	font-family: 'Noto Sans TC';
}

.app {
	width: 100vw;
	height: 100vh;
	/* outline: 1px solid black; */
}
